/*--------------------------------------------------------------
>>> STYLE
--------------------------------------------------------------*/
* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    background-color: black;
}

.display-text {
    display: flex;
    position: relative;
    /* position: absolute; */
    color: white; 
    align-items: center;
    justify-content: center;
    font-size: 2.3rem;
    /* top: 0; */
    /* right: 0; */
    /* bottom: 0; */
    /* left: 0; */
    /* display: none; */
}

#timer {
    background-color: black;
    width: 100px;
    height: 50px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 4px solid white;
    border-radius: 50%;
}

#playerHealth {
    position: absolute;
    background: #818cf8;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.blockfix {
    background-color: red; 
    height: 30px; 
    width: 100%
}

.red {
    position: relative; 
    display: inline-block;
}

.small-red {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}


.player-health {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    border: 4px solid white;
    border-radius: 10px;
}

.enemy-health {
    position: relative;
    width: 80%;
    border: 4px solid white;
    border-radius: 10px;
}

.bc-color {
    background-color: red; 
    height: 30px
}

#enemyHealth {
    position: absolute;
    background: #818cf8;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}