/* CANVAS */
#canvas1 {
    border: 3px solid black;
    background: url('./assets/defender/space.jpg');
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* HIDDEN CLASS */
.hidden {display: none;}

/* FOREGROUND */
/* #foreground {
    height: 300px;
    width: 800px;
    position: absolute;
    z-index: 3;
    left: 5.5%;
    bottom: 0;
    background: no-repeat;
} */
