/* ALL */
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

/* CANVAS */
#canvas1 {
    border: 3px solid black;
    background: url('./assets/invadersp2/background.png');
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* HIDDEN */
.hidden {display: none;}
